body, html{
    width:100%;
    height:100%;
  
}


.navbar-brand{
    img{
        width: 40px;
        margin-left: 100%;
    }
}

.navbar-nav li{
    padding-right:20px ;
}

.nav-link {font-size: 1.1em !important}
.navbar-collapse{
    display: flex;
    justify-content: right; /* Выравниваем по горизонтали по центру */
    align-items: right;
}


$font-stack:   'Urbanist', sans-serif;
$PrimColor: #E09132;
$ElemColor: #424530;

.MainContent{
    display: flex;
    flex-direction:column;
    align-items: center;
   
    border: 1px  solid black;
    width: 100%;
      

     //кнопка 
 .btn-primary  { 
    background-color: $ElemColor !important; /* Новый цвет в формате HEX, RGB или название цвета */
    width: 290px;
    height: 60px;
    border-radius: 5px;
    padding: 0px;
    font-family: $font-stack;
    border: 0px;
}

/* Изменение цвета при наведении на кнопку */
.btn-primary:hover {
    background-color: $PrimColor !important; /* Новый цвет при наведении */
  
}

    .FirstPage, .RegistrForm{
        width: 80%;
    
        border: 1px  solid black;
        display: flex;
    }
   


      
    .FirstPage{
       
        flex-wrap:wrap;
        .Text, .Photo{
        
        border: 1px  solid black;
        }
        .Text{
            width: 60%;
            h1{
            font-family: $font-stack;
            display: inline-block;
            font-size: 80px;
            line-height: 74px;
            font-weight: 500;
            margin-bottom: 20px;
            margin-top: 100px;
           
            }
            h2{
                font-family: $font-stack;
                font-weight: 400;
    font-size: 18px;
    max-width: 480px;
    line-height: 26px;
    margin-bottom: 20px;
                }
            @media screen and (max-width: 992px) {
                h1 {
                    font-size: 28px;
                    margin-bottom: 4px;
                    line-height: 32px;
               }
               h2{
                font-size: 15px;
                line-height: 21px;
                max-width: 480px;
                margin-bottom: 16px;
               }

           }
            
         

               
        }
        .Photo{
            img{
                margin-top: 100px;
            }
            // @media screen and (max-width: 992px) {
            //     img {
            //         width: 685px;
            //         height: 463px;
            //    }
            //}
            

          

        }



    }
  
.RegistrForm{
    background-color: $PrimColor;
    border-radius: 5px;
    align-items:center;
    flex-direction:column;
    h1{
        font-family: $font-stack;
            display: inline-block;
            font-size: 40px;
            line-height: 74px;
            font-weight: 300;
            color: white;
    }
    .Elm
{
    display: flex;
    flex-direction:column;
    gap: 20px;
  
    .mb-3{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
     
  
    //   &.full-width
    //     width: 100%
  
    //   label
    //     font-weight: bold
  
    //   input[type="email"], textarea
    //     padding: 10px
    //     border: 1px solid #ccc
    //     border-radius: 5px
  
    //   textarea
    //     resize: vertical
    //     min-height: 100px
  
}
 
    
    

}
.services{
    border:1px solid black;
    display: flex;
    flex-direction:column;
     
  flex-wrap: wrap;
  justify-content: space-between;
    width: 80%;
    img {
        width: 34px;
        height:34px;
        border: 5px solid gray;
        border-radius: 10px; /* Задайте нужное значение радиуса для закругленных углов */
      }

h2{
    font-family: $font-stack;
    display: block;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    max-width: 250px;
    margin-bottom: 20px;
}
.services-cards{
    display: flex;
    border:1px solid black;


    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 10px;
        padding: 20px;
        margin-right: 10px;
        background-color: #FAF0E6;
        h1{
            display: inline-block;
            margin-top:15px ;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
            line-height: 24px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            display: inline-block;
            margin-bottom: 10px;
        }
    }
    

}

    .btn-circle {
        width: 48px;
        height: 48px;
        border-radius: 29px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        font-size: 26px;
        transform: rotate(-20deg);
        position: absolute;
        bottom: 0;
        right: 0;
        margin-top: 20px;
    }
}
.AboutMe{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 80%;
    img{
        width: 560px;
        height: 559px;
    }
   .inf{
    display: flex;
    flex-direction: column;
  
    .inf_block{
        padding-left: 30px;
        padding-bottom:30px ;
        display: flex;
        flex-direction: row;
        img{
            width: 65px;
            height:65px

        }
        .Text{
    padding-left: 30px;
    h1{
        font-size: 26px;
        line-height: 1.17;
        font-weight: 600;
        font-family: $font-stack;
    }
    h2{
        font-size: 14px;
        line-height: 1.55;
        font-family: $font-stack;
        font-weight: 300;
  
    }
        }

    }

    }



}



}

@media screen and (max-width: 1098px) {
    .MainContent  .AboutMe{
    
        img{
            width: 460px;
            height: 459px;
        }
      .inf  .inf_block .Text{
            h1{
                font-size: 22px;
            }
            h2{
                font-size: 10px;
            }
        }
    }


}



//планшеты
@media screen and (max-width: 992px) {
    .services-cards{ //чтобы было по 2 в ряд
        flex-wrap: wrap;
        justify-content: space-between;

         .card{
            width: calc(50% - 10px); /* 50% минус отступы между блоками */
  margin-bottom: 20px;
         }
     }
    
 }
 //телефон
 @media screen and (max-width: 714px) {
    .MainContent  .AboutMe,   .MainContent  .FirstPage, .RegistrForm, .MainContent  .services {
            width: 95%;
        
           
        }
        .services-cards{ //карточки в колоку
            flex-direction: column;
    
             .card{
                width:100%; /* 50% минус отступы между блоками */
      margin-bottom: 20px;
             }
         }

         .MainContent  .AboutMe{
            flex-direction: column;
            img{
                width: 100%;
                height: 100%;
                margin-bottom: 30px;
            }
           


         }


 }



// footer
     .ms-3 {
         img{
            width: 30px;
         }
    
     }


    //  @media screen and (max-width: 1136px){
    //     .MainContent  .FirstPage, .RegistrForm, .services {
    //         width: 100%;
    //         background-color: #424530;
    //     }
    //  }